doctype html
html(lang="pl-PL")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title TW Cartography
    include ../favicon.pug
    link(rel="stylesheet", href="/css/reset.css", type="text/css")
    link(rel="stylesheet", href="/css/main.css", type="text/css")
    link(rel="stylesheet", href="/css/admin/worlds.css", type="text/css")
    script(src="/scripts/admin/worlds.js", type="module", defer)
  body
    form
      table
        thead
          tr
            th ID
            th serwer
            th numer
            th timestamp
            th domena
            th 
        tbody
          each world in worlds
            tr
              td= world.id
              td= world.server
              td= world.num
              td= world.start_timestamp
              td= world.domain
              td
                button(type="button") Usuń
          tr
            td -
            td
              input#server(type="text", name="server", autocomplete="off", placeholder="server")
            td
              input#num(type="text", name="num", autocomplete="off", placeholder="num")
            td
              input#start-timestamp(type="number", name="start-timestamp", autocomplete="off", placeholder="timestamp")
            td
              input#domain(type="text", name="domain", autocomplete="off", placeholder="domain")
            td
              input(type="submit", value="Dodaj")
