doctype html
html(lang="pl-PL")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title TW Cartography
    include ../favicon.pug
    link(rel="stylesheet", href="/css/reset.css", type="text/css")
    link(rel="stylesheet", href="/css/main.css", type="text/css")
    link(rel="stylesheet", href="/css/admin/world-data.css", type="text/css")
    script(src="/scripts/admin/world-data.js", type="module", defer)
  body
    table#world-data
      tbody
        each world, worldName in state
          tr
            td= world.name
            each day, dayTimestamp in world.days
              if day.isParsed
                if day.hasDataFiles
                  td.available(
                    title=`${translation.day} ${dayTimestamp}, ${translation.parsedDataAvailable.toLowerCase()}, ${translation.filesAvailable.toLowerCase()}`
                  )= dayTimestamp
                else
                  td.data-only(
                    title=`${translation.day} ${dayTimestamp}, ${translation.parsedDataAvailable.toLowerCase()}, ${translation.filesUnavailable.toLowerCase()}`
                  )= dayTimestamp
              else
                if day.hasDataFiles
                  td.files-only(
                    title=`${translation.day} ${dayTimestamp}, ${translation.parsedDataUnavailable.toLowerCase()}, ${translation.filesAvailable.toLowerCase()}`
                  )= dayTimestamp
                else
                  td.unavailable(
                    title=`${translation.day} ${dayTimestamp}, ${translation.parsedDataUnavailable.toLowerCase()}, ${translation.filesUnavailable.toLowerCase()}`
                  )= dayTimestamp
