- var isAuthor = user && user.id === collection.authorId;
- var isAdmin = user && user.rank === 10;
doctype html
html(lang="pl-PL")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title TW Cartography
    include favicon.pug
    link(rel="stylesheet", href="/css/reset.css", type="text/css")
    link(rel="stylesheet", href="/css/main.css", type="text/css")
    link(rel="stylesheet", href="/css/navbar.css", type="text/css")
    link(rel="stylesheet", href="/css/collection.css", type="text/css")
    script(src="/scripts/collection.js", type="module", defer)
  body.fullscreen
    include navbar.pug
    #wrapper
      #displayed-map
        #image-wrapper
          img(alt="map")
        button#previous-map(type="button") <
        button#next-map(type="button") >
        button#close-map(type="button") X
      #tiles
        div
          each map in collection.maps
            .tile.map-tile(
              title=map.title,
              data-id=map.id,
              data-title=map.title,
              data-description=map.description,
              data-encoded-settings=map.encodedSettings,
              data-checked="checked"
            )
              img(src=`/images/maps/${map.id}.png`, alt="map")
        div
          each animation in collection.animations
            .tile.animation-tile(data-id=animation.id)
              img(src=`/images/animations/${animation.id}.gif`, alt="animation")
      #info
        div
          if isAuthor
            input#collection-title(type="text", name="collection-title", placeholder="Tytuł", value=collection.title, autocomplete="off", size="20")
          else
            input#collection-title(
              type="text",
              name="collection-title",
              placeholder="Tytuł",
              readonly="readonly",
              value=collection.title,
              autocomplete="off",
              size="20"
            )
          if isAuthor || isAdmin
            button#delete-collection.label-button(type="button") usuń
        div
          span= `Stworzona przez `
          a.label-button(href=`/user/${collection.author.id}`) #{ collection.author.login }
          span= ` ${collection.createdAt.toLocaleDateString()}`
        div
          if isAuthor
            textarea#collection-description(cols="1", autocomplete="off")= collection.description
          else
            textarea#collection-description(cols="1", readonly="readonly", autocomplete="off")= collection.description
        #map-info.hidden
          div
            if isAuthor
              input#map-title(type="text", name="map-title", placeholder="Tytuł", value="", autocomplete="off", size="20")
            else
              input#map-title(type="text", name="map-title", placeholder="Tytuł", value="", readonly="readonly", autocomplete="off", size="20")
            if isAuthor || isAdmin
              button#delete-map.label-button(type="button") usuń
          div
            if isAuthor
              textarea#map-description(cols="1", autocomplete="off")
            else
              textarea#map-description(cols="1", readonly="readonly", autocomplete="off") 
          div
            input#encoded-settings(type="text", name="settings", value="", placeholder="kod ustawień", readonly="readonly", autocomplete="off")
        if isAuthor
          #animation-settings
            div
              div
                label(for="animation-creator-mode") Tryb tworzenia animacji
                div
                  input#animation-creator-mode(type="checkbox", name="animation-creator-mode", autocomplete="off")
              div
                button#check-all-maps(type="button", autocomplete="off", disabled) zaznacz wszystkie
                button#uncheck-all-maps(type="button", autocomplete="off", disabled) odznacz wszystkie
              div
                label(for="frame-delay") Odstęp (ms):
                input#frame-delay(
                  type="number",
                  min="1",
                  max="60000",
                  name="frame-delay",
                  autocomplete="off",
                  placeholder="czas w milisekundach",
                  value="1000",
                  disabled
                )
              div
                button#create-animation(type="button", autocomplete="off", disabled) Stwórz animację
