doctype html
html(lang="pl-PL")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title TW Cartography
    include favicon.pug
    link(rel="stylesheet", href="/css/reset.css", type="text/css")
    link(rel="stylesheet", href="/css/main.css", type="text/css")
    link(rel="stylesheet", href="/css/navbar.css", type="text/css")
    link(rel="stylesheet", href="/css/collection.css", type="text/css")
    script(src="/scripts/collection.js", type="module", defer)
  body.fullscreen
    include navbar.pug
    #wrapper
      #map-enlarged
        #image-wrapper
          img(alt="map")
        button#previous-map(type="button") <
        button#next-map(type="button") >
        button#hide-enlarged-map(type="button") X
      #map-tiles
        each map in collection.maps
          .map-tile(title=map.title, data-id=map.id, data-title=map.title, data-description=map.description)
            img(src=`/images/maps/${map.id}.png`, alt="map")
      #info
        div
          span#collection-title= collection.title
          if user && user.id === collection.authorId
            input#collection-title-edit-input.hidden(type="text", name="collection-title-input", autocomplete="off", placeholder="Tytuł")
            button#edit-collection-title.label-button(type="button", data-edit-mode="false") edytuj
          if user && (user.id === collection.authorId || user.rank === 10)
            button#delete-collection.label-button(type="button") usuń
        div
          span= `Stworzona przez `
          a.label-button(href=`/user/${collection.author.id}`) #{ collection.author.login }
          span= ` ${collection.createdAt.toLocaleDateString()}`
        div
          span#collection-description= collection.description
          if user && user.id === collection.authorId
            textarea#collection-description-edit-textarea.hidden(name="collection-description-textarea", cols="30", rows="5") 
            button#edit-collection-description.label-button(type="button", data-edit-mode="false") edytuj
        div
          span#map-title ...
          if user && user.id === collection.authorId
            input#map-title-edit-input.hidden(type="text", name="map-title-input", autocomplete="off", placeholder="Tytuł")
            button#edit-map-title.label-button.hidden(type="button", data-edit-mode="false") edytuj
          if user && (user.id === collection.authorId || user.rank === 10)
            button#delete-map.hidden.label-button(type="button") usuń
        div
          span#map-description ...
          if user && user.id === collection.authorId
            textarea#map-description-edit-textarea.hidden(name="map-description-textarea", cols="30", rows="5") 
            button#edit-map-description.label-button.hidden(type="button", data-edit-mode="false") edytuj
        //- div
        //-   input#settings(type="text", name="settings", value="", readonly)
