- var isAuthor = user && user.id === collection.authorId;
- var isAdmin = user && user.rank === 10;
doctype html
html(lang="pl-PL")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title TW Cartography
    include favicon.pug
    link(rel="stylesheet", href="/css/reset.css", type="text/css")
    link(rel="stylesheet", href="/css/main.css", type="text/css")
    link(rel="stylesheet", href="/css/navbar.css", type="text/css")
    link(rel="stylesheet", href="/css/collection.css", type="text/css")
    script(src="/scripts/collection.js", type="module", defer)
  body.fullscreen
    include navbar.pug
    #wrapper
      #displayed-map
        #image-wrapper
          img(alt="map")
        button#previous-map(type="button") <
        button#next-map(type="button") >
        button#close-map(type="button") X
      #map-tiles
        each map in collection.maps
          .map-tile(
            title=map.title,
            data-id=map.id,
            data-title=map.title,
            data-description=map.description,
            data-encoded-settings=map.encodedSettings
          )
            img(src=`/images/maps/${map.id}.png`, alt="map")
      #info
        div
          if isAuthor
            input#collection-title(type="text", name="collection-title", placeholder="Tytuł", value=collection.title, autocomplete="off", size="20")
          else
            input#collection-title(
              type="text",
              name="collection-title",
              placeholder="Tytuł",
              readonly="readonly",
              value=collection.title,
              autocomplete="off",
              size="20"
            )
          if isAuthor || isAdmin
            button#delete-collection.label-button(type="button") usuń
        div
          span= `Stworzona przez `
          a.label-button(href=`/user/${collection.author.id}`) #{ collection.author.login }
          span= ` ${collection.createdAt.toLocaleDateString()}`
        div
          if isAuthor
            textarea#collection-description(cols="1", autocomplete="off")= collection.description
          else
            textarea#collection-description(cols="1", readonly="readonly", autocomplete="off")= collection.description
        div
          if isAuthor
            input#map-title.hidden(type="text", name="map-title", placeholder="Tytuł", value="", autocomplete="off", size="20")
          else
            input#map-title.hidden(type="text", name="map-title", placeholder="Tytuł", value="", readonly="readonly", autocomplete="off", size="20")
          if isAuthor || isAdmin
            button#delete-map.label-button.hidden(type="button") usuń
        div
          if isAuthor
            textarea#map-description.hidden(cols="1", autocomplete="off")
          else
            textarea#map-description.hidden(cols="1", readonly="readonly", autocomplete="off") 
        div
          input#encoded-settings.hidden(type="text", name="settings", value="", placeholder="kod ustawień", readonly="readonly", autocomplete="off")
