link(
  rel="icon",
  type="image/png",
  href="https://dspl.innogamescdn.com/asset/c1748d3c/graphic/start/favicon/favicon-196x196.png",
  sizes="196x196"
)
link(
  rel="icon",
  type="image/png",
  href="https://dspl.innogamescdn.com/asset/c1748d3c/graphic/start/favicon/favicon-160x160.png",
  sizes="160x160"
)
link(
  rel="icon",
  type="image/png",
  href="https://dspl.innogamescdn.com/asset/c1748d3c/graphic/start/favicon/favicon-96x96.png",
  sizes="96x96"
)
link(
  rel="icon",
  type="image/png",
  href="https://dspl.innogamescdn.com/asset/c1748d3c/graphic/start/favicon/favicon-16x16.png",
  sizes="16x16"
)
link(
  rel="icon",
  type="image/png",
  href="https://dspl.innogamescdn.com/asset/c1748d3c/graphic/start/favicon/favicon-32x32.png",
  sizes="32x32"
)
link(
  rel="icon",
  type="image/png",
  href="https://dspl.innogamescdn.com/asset/c1748d3c/graphic/start/favicon/favicon-16x16.png"
)
