doctype html
html(lang="pl-PL")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title TW Cartography
    include favicon.pug
    link(rel="stylesheet", href="/css/reset.css", type="text/css")
    link(rel="stylesheet", href="/css/main.css", type="text/css")
    link(rel="stylesheet", href="/css/nav-bar.css", type="text/css")
    link(rel="stylesheet", href="/css/map.css", type="text/css")
    script(src="/scripts/map.js", type="module", defer)
  body
    include nav-bar.pug
    #wrapper
      #map
        img(src="../images/maps/" + map.id + ".png", alt="mapa")
      #info
        h1= `${map.title}`
        h2= `${map.description}`
        p= `${map.turn} dzień świata ${map.world.server + map.world.num}`
        div
          span= `Stworzona przez `
          a.label-button(href=`/user/${map.author.id}`) #{ map.author.login }
          span= ` ${map.createdAt.toLocaleDateString()}`
        div
          a.label-button(href=`/collection/${map.collectionId}`) Kolekcja
        div
          input#settings(type="text", name="settings", value=map.encodedSettings, readonly)
        div
          a.a-button(href=`/new/${map.encodedSettings}`) Stwórz mapę na podstawie tych ustawień
        if user && user.rank === 10
          div
            button#delete-map-button(type="button") Usuń mapę
