nav#navbar
  a.navbar-button(href="/", name="homepage-link")= translation.homepage
  if page !== "new"
    a.navbar-button(href="/new", name="new-map-link")= translation.newMap
    a.navbar-button(href="/collections", name="collections-link")= translation.collections
    if user && user.rank === 10
      a.navbar-button(href="/admin", name="admin-panel-link")= translation.adminPanel
  else
    button#settings-button.navbar-button= translation.settings
    button#marks-button.navbar-button= translation.marks
    button#captions-button.navbar-button= translation.captions
  button#profile-button.navbar-button= user ? translation.profile : translation.loginForm
  #profile.utility-window.hidden
    div
      if user
        p= `${translation.loggedInAs} ${user.login}`
        a(href=`/user/${user.id}`, name="my-collections-link")= translation.myCollections
        button#logout-button(type="button")= translation.logout
      else
        form#login-form
          div
            label(for="login") #{ translation.login }:
            input#login(type="text", name="login", autocomplete="off", placeholder=translation.login.toLowerCase())
          div
            label(for="password") #{ translation.password }:
            input#password(type="password", name="password", placeholder=translation.password.toLowerCase(), autocomplete="off")
          div
            button#submit.block(type="submit")= translation.logIn
        button#register-button.block= translation.register
        p#message.block.hidden
