doctype html
html(lang="pl-PL")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title TW Cartography
    include favicon.pug
    link(rel="stylesheet", href="/css/reset.css", type="text/css")
    link(rel="stylesheet", href="/css/main.css", type="text/css")
    link(rel="stylesheet", href="/css/navbar.css", type="text/css")
    link(rel="stylesheet", href="/css/new.css", type="text/css")
    script(src="/scripts/new.js", type="module", defer)
  body.fullscreen
    include navbar.pug
    #controls-wrapper
      #settings.settings-tab.utility-window
        div
          .row
            label(for="world-select", title="Świat, z którego będą pobierane dane") Świat:
            div
              select#world-select(name="world", autofocus, autocomplete="off")
                option(value="", selected, disabled, hidden) wybierz
                each world in worlds
                  option(value=world.id) #{ world.server+world.num }
          .row
            label(for="turn-input", title="Liczba dni od początku świata. '0' to godzina po starcie") Dzień gry:
            div
              input#turn-input(type="number", name="turn-input", min="0", max="365", placeholder="-", autocomplete="off", disabled)
          .row
            label(for="background-color", title="Kolor tła wyjściowej mapy") Kolor tła:
            div
              input#background-color(type="color", name="background-color", autocomplete="off", disabled)
          .row
            label(for="scale", title="Powiększenie mapy. Świat o wielkości 400x400 pól w skali 3 będzie miał rozmiar 1200x1200px") Skala:
            div
              input#scale(type="number", name="scale", autocomplete="off", disabled)
          .row
            label(for="spots-filter", title="Terytoria o powierzchni niższej niż podana zostaną usunięte i rozdzielone miedzy sąsiadów") Filtr plamek:
            div
              input#spots-filter(type="number", name="spots-filter", autocomplete="off", disabled)
          .row
            label(for="display-unmarked", title="Nieoznaczone plemiona zostaną wyświetlone jako dodatkowa grupa") Wyświetl nieoznaczone:
            div
              input#display-unmarked(type="checkbox", name="display-unmarked", autocomplete="off", disabled)
              input#unmarked-color(type="color", name="unmarked-color", autocomplete="off", disabled)
          .row
            label(for="trim", title="Puste brzegi mapy zostaną przycięte automatycznie - odznacz żeby ustawić rozmiar samodzielnie") Przytnij mapę:
            div
              input#trim(type="checkbox", name="trim", autocomplete="off", disabled) 
              input#output-width(type="number", name="output-width", autocomplete="off", disabled)
          .row
            label(for="border-color", title="Kolor granic") Kolor granic:
            div
              input#border-color(type="color", name="border-color", autocomplete="off", disabled)
          .row
            label(
              for="auto-refresh",
              title="Gdy włączone, mapa będzie się automatycznie odświerzać po każdej zmianie ustawień. Wyłącz, gdy odświeżanie mapy zajmuje dużo czasu"
            ) Auto-odświerzanie:
            div
              input#auto-refresh(type="checkbox", name="auto-refresh", autocomplete="off", disabled)
              button#generate(type="button", disabled) Generuj
          .row
            div(title="Wklej kod ustawień, żeby odtworzyć ustawienia stworzone przez innego użytkownika")
              input#encoded-settings(type="text", name="encoded-settings", autocomplete="off", placeholder="kod ustawień", value=encodedSettings)
          if user
            if user.rank >= 2
              .row
                div
                  input#title(type="text", name="title", placeholder="tytuł", autocomplete="off", disabled)
              .row
                div
                  input#description(type="text", name="description", placeholder="opis", autocomplete="off", disabled)
              .row
                div
                  select#collection(name="collection", autocomplete="off")
                    option(value="", selected, disabled, hidden) wybierz
                    option(value="0") Utwórz nową
                    each collection in collections
                      option(value=collection.id) #{ collection.title }
              .row
                div
                  button#publish-button(disabled) Opublikuj
      #mark-suggestions.marks-tab.utility-window.hidden
        div
          table
            thead
              tr
                th NAZWA
                th
                  input#suggestions-search-input.fill-cell(type="text", name="suggestions-search-input", placeholder="TAG", autocomplete="off")
                th GR
                th WI
                th PUNKTY
                th DODAJ
            tbody
              tr
                td -
                td -
                td -
                td -
                td -
                td -
      #mark-groups.marks-tab.utility-window.hidden
        div
          table
            thead
              tr
                th LISTA
                th NAZWA
                th(title="Kliknij prawym na kolor aby wylosować ponownie") KOLOR
                th PL
                th GR
                th WI
                th PKT
                th
            tbody
              tr
                td -
                td -
                td -
                td -
                td -
                td -
                td -
                td -
    #map
      canvas#map-canvas(width="100", height="100")
